

.regular-kontaktformular__container {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
} 



.regular-kontaktformular__container-horizontal {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}



.regular-kontaktformular-input {
  width: 100%;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-family: ClearSansRegular;
  margin-top: 20px;
  transition: 0.4s;
  color: white;
  background-color: rgba(0,0,0,0);
  z-index: 500;
  /* background-color: gray; */
}
.regular-kontaktformular-input__container {
  width: 100%;
  height: fit-content;
  /* background-color: red; */
  position: relative;
}
.regular-kontaktformular-input:focus {
  border-bottom: 2px solid #0057a4;
}
.regular-kontaktformular-input:hover {
  border-bottom: 2px solid #0057a4;
}
.regular-kontaktformular-input__placeholder {
  font-size: 20px;
  font-family: ClearSansRegular;
  position: absolute;
  bottom: 3px;
  left: 2px;
  z-index: 90;
  transition: 0.4s;
  /* color: rgba(255,255,255,0.7); */
  color: black;
}
.regular-kontaktformular-input__placeholder.typing {
  bottom: 30px;
  font-size: 16px;
}
.regular-kontaktformular-input::placeholder {
  /* color: rgba(255,255,255,0.7); */
  color: black;
}


.regular-kontaktformular-senden__button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  margin-top: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.regular-kontaktformular-senden__button:hover {
  opacity: 0.7;
}

@media (max-width: 1080px) {
  .regular-kontaktformular__container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .regular-kontaktformular__container-horizontal {
    display: flex;
    flex-direction: column;
  }

  /* .regular-kontaktformular-senden__button {
    margin-right: 0px;
    margin-left: auto;
  } */

  .regular-kontaktformular-senden__button {
    margin-right: auto;
    margin-left: auto;
  }
}